@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

video {
  width: 100%;
}
body {
  padding: 0px;
  margin: 0px;
}

.videoContainer {
  width: 100%;
  height: 1008px;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  z-index: -10;
}

.walkBtn {
  position: fixed;
  top: 51%;
  left: 50%;
  width: 700px;
  height: 90px;
  font-family: "Times New Roman", Serif;
  border-width: 1px;
  border-radius: 15px;
  border-color: white;
  background-color: rgba(255, 255, 255, 0);
  margin-left: -370px;
  text-align: center;
  z-index: 0;
}

.walkBtn:hover {
  opacity: 0.8;
  transform: scale(1.03);
}

.walkBtn p {
  text-align: center;
  vertical-align: middle;
  color: white;
  font-family: "Times New Roman", Serif;
  font-size: 50px;
}

.uploadClick {
  position: fixed;
  top: 62%;
  left: 50%;
  margin-left: -136px;
  width: 400px;
  color: white;
  font-size: 25px;
  font-family: "Times New Roman", Serif;
  z-index: 0;
}
.uploadClick:hover {
  opacity: 0.8;
}

.instagramLink {
  position: absolute;
  margin-left: 29px;
  top: 95%;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Times New Roman", Serif;
}

.supportLink {
  position: absolute;
  top: 95%;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Times New Roman", Serif;
  margin-right: 29px;
  right: 0px;
  bottom: 0px;
}

.mainBody {
  margin: 0px auto;
  position: relative;
}

.aboutusbtn {
  width: 50px;
  height: 50px;
  border: 50px;
}
