.edit {
  font-family: "Times New Roman", Serif;
}
.mypage {
  position: fixed;
  top: 5%;
  left: 46.5%;
  font-family: "Times New Roman", Serif;
  text-align: center;
  font-size: 40px;
}
.email {
  top: 130px;
  text-align: center;
}
.username {
  top: 140px;
  text-align: center;
}
.socialinfo {
  top: 150px;
  text-align: center;
}
.password {
  top: 160px;
  text-align: center;
}
.editbtn {
  position: fixed;
  top: 400px;
  left: 50%;
  height: 40px;
  width: 100px;
  cursor: pointer;
  background-color: black;
  color: white;
  line-height: 1px;
  text-align: center;
  border-radius: 5px;
  border-style: none;
  font-family: "Times New Roman", Serif;
  font-size: 17px;
}
.backgroundimg {
  font-size: 20px;
  z-index: -1;
  position: fixed;
  top: -50px;
  width: 100%;
}
.textall {
  position: fixed;
  top: 5%;
  left: 51.5%;
  width: 700px;
  height: 90px;
  font-family: "Times New Roman", Serif;
  border-width: 1px;
  border-radius: 15px;
  border-color: white;
  background-color: rgba(255, 255, 255, 0);
  margin-left: -370px;
  text-align: center;
  z-index: 2;
}
